.main {
  min-width: 500px;
  width: 560px;
  max-width: 575px;
}

.card__img-container {
  height: 300px;
}

.card__description-text h1 {
  font-size: 2.2rem;
  line-height: 2.8rem;
}

.card__description-text p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.card__description-data {
  margin: 16px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.item-bold {
  font-size: 1.8rem;
}

.item-tag {
  margin: 4px 0 0 0;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}
